:root{
    --header-height: 60px;
    --primary-color: hsl(354, 78%, 60%);
    --body-color: hsl(206, 4%, 97%);
    --text-color: hsl(0, 8%, 20%);
    --title-color: hsl(0, 0, 10%);
    --bg-color:#ffffff;
    --card-color: hsl(0, 8%, 90%);

    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Poppins', sans-serif;

    --big-font: 2rem;
    --medium-font:1.5rem;
    --normal-font: 1rem;
    --small-font: 0.8rem;
    --tiny-font: 0.75rem;

    --font-bold: 700px;
    --font-medium: 600;
    --font-normal: 400;
    --font-tiny: 300;

    --sp-0-5: 0.5rem;
    --sp-0-75: 0.75rem;
    --sp-1: 1rem;
    --sp-1-5: 1.5rem;
    --sp-2: 2rem;
    --sp-2-5: 2.5rem;
    --sp-3: 3rem;

    --z-fixed:100;
    --z-modal:200;
}
@media (min-width: 999px) {
    :root{
    --big-font: 2.5rem;
    --medium-font:2rem;
    --normal-font: 1.25;
    --small-font: 1rem;
    --tiny-font: 0.8rem;
    }
}

html, body{
    height: 100%;
    transition: all .2s ease-in-out;
}

html{
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::after, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button, input, textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font);
    font-weight: var(--font-normal);
    color: var(--text-color);
    background-color: var(--body-color);
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

ul, ol{
    list-style: none;
}

img{
    max-width: 100%;
    height: 100%;

}

button{
    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}

/*GLOBAL*/

.section{
    padding: var(--sp-2) 0 var(--sp-1);
}

.section--title, .container{
    max-width: 1024px;
    margin: 0 1rem;
}





/*LOADER*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader-container span{
    display: inline-block;
    width: 7rem;
	height: 7rem;
	border: .2em solid var(--primary-color);
	border-radius: 50%;
	animation: pulso 1s ease-out infinite;
}

.loader--hidden{
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}



@keyframes pulso {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}

}



/*HEADER*/
.header{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .bx:hover{
    color: rgb(117, 21, 21);
}

.nav-logo{
    display: flex;
    align-items: center;
}

.logo--icon{
    width: var(--sp-3);
    height: var(--sp-3);
    color: var(--primary-color);
}


@media (max-width: 768px) {
    .nav__menu{
        position: fixed;
        bottom: var(--header-height);
        left: -100%;
        width: 100%;
        height: calc(max-content - var(--header-height));
        padding: var(--sp-3) 0 var(--sp-2);
        background-color: var(--bg-color);
        z-index: var(--z-fixed);
        
    }
}

.nav__menu .btn-close{
    position: absolute;
    top: var(--sp-0-75);
    right: var(--sp-0-75);
    width: var(--sp-2);
    height: var(--sp-2);
    font-size: var(--medium-font);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link{
    display: flex;
    align-items: center;
    padding: var(--sp-0-75) var(--sp-1);
    color: var(--text-color);
    transition: color .3s ease-in-out;
}


.nav__link:hover{
    color: var(--primary-color);
}

.nav-btns{
    display: flex;
    align-items: center;
    gap: var(--sp-1);
}

.nav_btn{
    font-size: 1.25rem;
}

.btn--cart{
    position: relative;
}

.notify{
    position: absolute;
    top: -5px;
    right: 11px;
    width: 20px;
    background-color: var(--primary-color);
    font-size: var(--tiny-font);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.show--notify{
    opacity: 1;
    visibility: visible;
}

.mostrar--menu{
    left: 0;
}

/* ENDS CSS HEADER*/
/*-----------------------------------------*/
/* START CSS PRODUCTS*/

.products__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--sp-2);
}


.product__title{
    margin-bottom: var(--sp-2);
    text-align: center;

    
}

.product{
    overflow: hidden;
}

.product__image{
    padding: var(--sp-1);
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__image img{
    transition: transform .3s ease-in-out;
    max-height: 300px;
}

.product:hover img{
    transform: translateY(-10px);
}

.product__content{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: var(--bg-color);
    padding: var(--sp-1-5);
    min-height: 109px;
}

.product__btn{
    position: absolute;
    top: 0;
    right: var(--sp-1-5);   
    width: 45px;
    height: 45px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.product__btn:hover{
    background-color: var(--primary-color);
    color: var(--bg-color);
    
}

.product__price{
    grid-column: span 1;
}
.product__stock{
    grid-column: span 2;
    justify-self: flex-end;
    font-size: var(--small-font);
}
.product__title{
    grid-column: span 3;
}
/* ENDS CSS PRODUCTS*/
/*----------------------------------*/
/* START CSS FOOTER*/
.footer{
    background-color: var(--card-color);
}

.footer__container, .footer__top{
    display: grid;
    row-gap: var(--sp-1-5);    
}

.footer_title{
    margin-bottom: var(--sp-0-75);
}

.footer__social{
    display: flex;
    align-items: center;
    gap: var(--sp-1-5);
}

.footer__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sp-3);
    height: var(--sp-3);
    color: var(--text-color);
    background-color: var(--title-color);
    border-radius: 50%;
    font-size: var(--sp-2-5);
    transition: background-color 0.3s ease-in-out;
}

.footer__link:hover{
    color: var(--title-color);
    background-color: var(--primary-color);
}

/*DARK MODE*/

.footer__darkmode{
    display: flex;
    justify-content: center;
    align-items: center;
}



#darkM__container{
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 30px;
    box-shadow: inset 4px 4px 6px #cecece, 
                inset -4px -4px 6px #fff;
    margin: 0 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all .5s ease;
    
}

.toggle{
    position: relative;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    transform: scale(.6);
    background-color: rgb(167, 167, 167);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff ;
    transition: all .5s ease;
}

#darkM__container.active .toggle{
    left: 30px;
    background-color: rgb(0, 0, 0);
}


body.active{
    --body-color: hsl(0, 4%, 15%);
    --text-color: hsl(0, 0%, 100%);
    --title-color: hsl(0, 0%, 99%);
    --bg-color:#504343;
    --card-color: hsl(0, 9%, 18%);
}

body.active .footer__link{
    color: var(--text-color);
    background-color: var(--card-color);
}
body.active .footer__link:hover{
    color: var(--body-color);
    background-color: var(--text-color);
}

body.active .cart{
    background-color: rgb(53, 45, 45);
}

body.active .nav .bx{
    color: var(--text-color);
}
body.active .nav .bx:hover{
    color: var(--primary-color);
}

body.active .cart__container .bx{
    color: var(--text-color);
}
body.active .cart__container .bx:hover{
    color: var(--primary-color);
}
body.active .cart__container .btn--buy:hover{
    color: var(--primary-color);
}

body.active .product__btn:hover{
    background-color: rgb(82, 3, 3);
    color: var(--text-color);
}




@media (max-width: 768px) {
    #darkM__container{
        width: 50px;
        height: 20px;
    }
    .toggle{
        width: 20px;
        height: 20px;
    }
    #darkM__container.active .toggle{
        left: 28px;
    }
}
@media (max-width: 768px) {
    .footer__darkmode{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* ENDSDARK MODE*/


@media (max-width: 768px) {
    .footer{
        padding-bottom: var(--header-height);
    }
}

.footer__bottom{
    text-align: center;
}



/* ENDS CSS FOOTER*/
/* START CSS MODAL*/
.modal__card{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
    z-index: var(--z-modal);
}



.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: var(--bg-color);
    border-radius: var(--sp-1);
    padding: var(--sp-2) var(--sp-1-5);
    display: grid;
    gap: var(--sp-1);
    place-items: center;
    grid-auto-columns: 100%;
    
}

.modal__title{
    font-size: var(--font-normal);
}
.modal__description{
    margin-bottom: 5px;
}
.modal__img{
    width: 90%;
    max-width: 200px;
}

.modal__close{
    color: var(--text-color);
    background-color: var(--card-color);
    padding: var(--sp-0-5) var(--sp-1);
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    transition: background-color .3s;
    width: fit-content;
    margin-top: 25px;
    margin-right: 25px;
}

.modal--show{
    opacity: 1;
    visibility: visible;
    transition: opacity .5s;
}

.modal__close:hover{
    color: var(--card-color);
    background-color: var(--primary-color);
}

.modal__footer{
    display: flex;
}
.modal__footer p {
    padding: 0 1rem;
}
@media (max-width: 768px) {
    .modal__card{
        top: 0;
        bottom: var(--header-height);
        flex-direction: column-reverse;
    }
    .modal__close{
        margin-top: 0;
        margin-bottom: 25px;
    }
    
}



/* ENDS CSS MODAL*/

/*-----------------------------------------------*/
/* START CSS CART*/



.cart{
    position: fixed;
    bottom: var(--header-height);
    right: -100%;
    max-width: 375px;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: white;
    z-index: var(--z-fixed);
    transition: right .5s ease-in-out;
}
.show--cart{
    right: 0;
}

.cart__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 70% 20%;
    height: 100%;
}

.cart__header{
    display: grid;
    grid-template-columns: 2fr 2fr .5fr;
    align-items: center;
    width: 100%;
    padding: var(--sp-1-5) 0 0 var(--sp-1);
}

.cart__title{
    grid-column: span 2;
}

.cart__btn .btn--close{
    font-size: var(--medium-font);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__body{
    padding: var(--sp-1);
    overflow-y: auto;
}

.cart__empty{
    display: flex;
    align-items: center;
    gap: var(--sp-0-5);
    font-size: var(--normal-font);
}

.article{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    column-gap: var(--sp-1);
    margin-bottom: var(--sp-1);
}

.article__image{
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 1px solid var(--card-color);
    align-self: center;
}

.article__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article__content{
    display: grid; 
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 30px;
}

.article__title{
    grid-column: span 4;
    font-size: var(--font-normal);
}

.article__quantity{
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: var(--sp-1);
    justify-self: center;
}

.remove-from-cart{
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.cart__footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    background-color: var(--card-color);
    padding: var(--sp-1);
    row-gap: var(--sp-1);
}

.cart__count{
    grid-column: span 2;
    font-size: var(--small-font);
}

.cart__total{
    grid-column: sapn 2;
    justify-self: flex-end;
}

.btn--buy{
    grid-column: span 7;
    background-color: black;
    color: white;
    padding: var(--sp-1);
}

.btn--buy:hover,
.cart__container .bx:hover{
    color: var(--primary-color);
}



@media (min-width: 768px) {
    :root{
        --header-height: 75px;
    }

    .header{
        top: 0;
        bottom: unset;
    }

    .nav__list{
        display: flex;
        align-items: center;

    }

    .nav__menu .btn-close, 
    .btn--menu{
        display: none;
    }

    .main{
        padding-top: var(--header-height);
    }
    

    .cart{
        top: var(--header-height)
    }
}

@media (min-width: 1024px) {
    .section--tittle, 
    .container{
        margin: 0 auto;
    }
}
/* ENDS CSS CART*/























